<h1>Admin panel</h1>

<div class='container'>
    <div class='row'>

        <div class='prueba col-md-5'></div>
        <div class='pruebaMid col-md-2'></div>
        <div class='prueba2 col-md-5'></div>

    </div>
</div>

<script src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js'></script>

<script src='../../js/apiHandler.js'></script>
<script src='../../js/admin_panel.js'></script>