<div class='col-md-2 position-absolute leftNav'>
    <nav>
        <ul class='nav flex-column pt-5 mt-5'>

            <li class='nav-item'>
                <a class='' href='#'>Contracts</a>
            </li>
            <li class='nav-item mt-2'>
                <a class='' href='#'>Places</a>
            </li>
        </ul>
    </nav>
</div>

<div class='container'>
    <h1>Admin panel</h1>
    <div class='row admin-content'>

        <div class='leftPan col-md-5'></div>
        <div class='midPan col-md-2'></div>
        <div class='col-md-5 rightPan'></div>

    </div>
</div>

<div class='overlay hidden'></div>

<script src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js'></script>
<script src='/js/apiGoogle.js'></script>
<script src='https://maps.googleapis.com/maps/api/js?key={{MYAPICODE}}&libraries=places'></script>

<script src='../../js/apiHandler.js'></script>
<script src='../../js/admin_panel.js'></script>
<script src='../../js/blur.js'></script>