{{! <div class='col-md-2 mt-5'>
    <nav>
        <ul class='nav flex-column'>
            <li class='nav-item'>
                <a class='nav-link active' href='#'>Active</a>
            </li>
            <li class='nav-item'>
                <a class='nav-link' href='#'>Link</a>
            </li>
            <li class='nav-item'>
                <a class='nav-link' href='#'>Link</a>
            </li>
            <li class='nav-item'>
                <a class='nav-link disabled' href='#'>Disabled</a>
            </li>
        </ul>
    </nav>
</div> }}

<div class='container'>
    <h1>Admin panel</h1>
    <div class='row'>

        <div class='leftPan col-md-5'></div>
        <div class='midPan col-md-2'></div>
        <div class='rightPan col-md-5'></div>

    </div>
</div>

<script src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js'></script>
<script src='/js/apiGoogle.js'></script>
<script src='https://maps.googleapis.com/maps/api/js?key={{MYAPICODE}}&libraries=places'></script>

<script src='../../js/apiHandler.js'></script>
<script src='../../js/admin_panel.js'></script>