<h1>Admin panel</h1>

{{! <div class='row'> }}
<div class='col-md-2 mt-5'>

    <form>
        <div class='form-group'>
            <label for='exampleInputEmail1'>Email address</label>
            <input type='email' class='form-control' id='exampleInputEmail1' aria-describedby='emailHelp' />
            <small id='emailHelp' class='form-text text-muted'>We'll never share your email with anyone else.</small>
        </div>
        <button type='submit' id='buttonForm' class='btn btn-primary'>Submit</button>
    </form>

    <nav>
        <ul class='nav flex-column'>
            <li class='nav-item'>
                <a class='nav-link active' href='#'>Active</a>
            </li>
            <li class='nav-item'>
                <a class='nav-link' href='#'>Link</a>
            </li>
            <li class='nav-item'>
                <a class='nav-link' href='#'>Link</a>
            </li>
            <li class='nav-item'>
                <a class='nav-link disabled' href='#'>Disabled</a>
            </li>
        </ul>
    </nav>
</div>
{{! </div> }}
<div class='container'>
    <div class='row'>

        <div class='prueba col-md-5'></div>
        <div class='pruebaMid col-md-2'></div>
        <div class='prueba2 col-md-5'></div>

    </div>
</div>

<script src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js'></script>

<script src='../../js/apiHandler.js'></script>
<script src='../../js/admin_panel.js'></script>