<div class="container">
    <form>
        <div class="form-group"><label for=""><input type="text" name="nameDescription" id=""></label></div>
        <div class="form-group"><label for=""><input type="text" name="taskDescription" id=""></label></div>
        <div class="form-group"><label for=""><input type="text" name="time" id=""></label></div>
        <div class="form-group"><label for=""><input type="text" name="placeName" id=""></label></div>
        <div class="form-group"><label for=""><input type="number" name="numberRooms" min="0" id=""></label></div>
        <div class="form-group"><label for=""><input type="text" name="image" id=""></label></div>
        <div class="form-group"><label for=""><input type="text" name="host_id" id="{{id}}" hidden></label></div>
        <div class="form-group"><label for=""><input type="text" name="direction" id=""></label></div>
        
        <button type='submit' class='btn btn-primary'>Submit</button>
    </form>
</div>
{{!--axios por la lista de user_id de las personas--}}