<div class='home d-flex justify-content-around flex-column flex-wrap'>

    <div class='home-top d-flex justify-content-around'></div>
    <div class='home-bottom d-flex justify-content-around'></div>
</div>

{{!-- {{! d-flex align-items-start flex-column }} --}}

<script src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js'></script>
<script src='../js/apiHandler.js'></script>
<script src='../js/unsplash.js'></script>